/* 
negro: #262126
verde oscuro: #0B594B
verde claro: #06735F
claro: #F2F2F2
amarillo: #F2AE2E 
*/

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}


header>figure {    
    padding-bottom: 0.5rem;
}


header{
    background-color:#F2AE2E;
    color: #F2F2F2;  
    min-height: 40vh;
    min-width: 300px;
}

header img{
    object-fit: cover;
    width: 98.79vw;
    max-height: 30vh;    
    min-width: 300px;
}

a{
    background-color:#06735F;
    text-align: center;
    border-radius:6px;
    text-decoration: none;
    color: #F2F2F2;
    padding: 0.5rem;
}

nav{
    position: sticky;
    top: 3px;
    float: right;
    min-width: 300px;
}


h1{
    padding: 0.7rem;;
}

a[href="#"]{
    background-color:#0B594B;
}



div>img {
    max-width: 15vw;
    min-width: 160px;
}

.logo {
    display: inline-block;
    vertical-align: top;
    margin-right: 3rem;
    margin-left: 2rem;

}

.eventos {     
    color: #F2F2F2;
    background-color:#0B594B;
    border-radius: 10px;
    min-width: 280px;
    max-width: 70vw;
    padding: 1rem;
    display: inline-block;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
}

h3{
    text-align: center;
    background-color: #262126;
    color: #F2F2F2;
    height: 40px;
    padding-top: 0.5rem;
    margin-bottom: 2rem;
}

.eventos>div {   
    background-color:#06735F ;
    border-radius: 10px;
    
    margin: 1rem;
    padding: 1rem;   
}

.eventos p {
    padding: 1rem;    
}

main{
    min-height: 56vh;  
    background-color:#F2F2F2;
}

footer{
    background-color: #262126;
    color:#F2F2F2;
    min-height: 4vh;       
    text-align: end;
    font-size: small; 
}

h4{
    position: relative;
    padding-top: 0.3rem;
    padding-right: 0.5rem;
}


.contimg img{
    height: 30vh;
    object-fit: cover;
    margin: 1rem;
    border-radius: 1rem;
    background-color: #F2AE2E;    
    padding: 0.5rem;
}


.contimg{    
    margin-top: 2rem;  
    padding-bottom: 1rem;
    border-radius: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: center;
}