/* verde: #006B65
amarillo:  #F3D129
blanco:  #FFFFFF
gris:  #A8B1B8
gris claro: #f5f5f5
negro:   #231F20 */
html {
    --amarillo: #F3D129;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
    font-family: 'Noto Sans', sans-serif;

}

/* HEADER */

header {
    background-image: linear-gradient(to right, #f5f5f5, #ececec);
    min-height: 30vh;
    position: relative;
}



.titulo {
    text-align: center;
    background-image: linear-gradient(to top, #303030, #2b2828, #080808);
    display: block;
    min-height: 40px;
    font-size: 0.8em;
    /* box-shadow: 5px 5px 10px #A8B1B8; */
}

h1 {
    color: #FFFFFF;
}

nav {
    min-height: 10%;
    padding: 0.5rem;
    display: inline-block;
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    margin-right: 1rem;

}

nav>a {
    text-decoration: none;
    color: #006B65;
    padding: 0.5rem;
    font-size: 1em;
    border-radius: 1rem 1rem 0rem 0rem;
}



a[href="#"] {
    color: #F3D129;
    background-color: #ffffff;
}

/* MAIN */

main {
    background-color: #ffffff;
    min-height: 66vh;
    display: flex;
    flex-direction: row;
    color: #004642;
    font-size: 0.9em;
    list-style-position: inside;
    width: 100vw;
}

/* IMAGENES DE IZQUIERDA */
.contimg img {
    object-fit: cover;
    border-radius: 2rem;
    box-shadow: 5px 5px 10px #A8B1B8;
    max-width: 18vw;
    margin: 1rem;
    opacity: 0.5;
}

.contimg {
    margin: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;

}

.contimg>img:hover {
    opacity: 1.0;
}

/* SECCION IMPORTANTE */
.eventos {
    min-width: 60vw;
    margin: 3rem;
    max-width: 69vw;
    text-align: justify;
}

.eventos>div {
    margin: 2rem;
    background-color: #F2F2F2;
    padding-bottom: 1rem;
    border-radius: 2rem 2rem 2rem 2rem;
    box-shadow: 5px 5px 10px #A8B1B8;
}

.eventos>#titulo3 {
    background-color: #FFFFFF;
    box-shadow: none;
    text-align: center;

    padding-top: 0%;
    font-size: 1.7em;
}

.eventos>.info {
    max-width: 69vw;
    box-shadow: none;
    font-size: 0.8em;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    box-shadow: 5px 5px 10px #A8B1B8;
}

.i {
    display: inline-block;
}

#titulo3 h2,
h5,
h3,
h6 {
    padding: 1rem;
}

.eventos h4 {
    background-image: linear-gradient(to right, #f7d943, #F3D129, #ddbe21);
    padding: 1rem;
    border-radius: 1rem 1rem 0rem 0rem;
    font-size: 1.3em;
}

.eventos p {
    padding: 2rem;
}

.eventos>div>h4>a {
    text-decoration: none;
    color: #006B65;
}

.titulo2 {
    display: flex;
    flex-direction: row;
    background-color: #006B65;
    background-image: linear-gradient(to right, #006B65, #004642);
    min-width: 12vw;
    max-width: 14vw;
    min-height: 10vh;
    height: max-content;
    padding-right: 1rem;
    border-radius: 3rem;
    padding-top: 0.1rem;
    border-radius: 0rem 0rem 30rem 0rem;
    box-shadow: 5px 5px 10px #A8B1B8;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.titulo2>.tag {
    padding: 0.5rem;
    color: #FFFFFF;
}

/* RULES POLICIES */

.cuerpo>p {
    margin-left: 2rem;
    margin-right: 2rem;
}

.cuerpo>.primerOl {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
    margin-right: 3rem;

}

#cuadrado {
    list-style: square;
    list-style-position: inside;
}

.cuerpo>h3 {
    background-image: linear-gradient(to right, #f7d943, #F3D129, #ddbe21);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.primerOl>li {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

#h3Primero {
    border-radius: 1rem 1rem 0rem 0rem;
}

/* TABLA INFO  */
th,
td {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

tbody>tr:hover {
    background-image: linear-gradient(to right, #d1d3d4, #d1d3d4, #A8B1B8);
}

table {
    width: 100%;
    text-align: center;
}

thead {
    background-image: linear-gradient(to right, #f7d943, #F3D129, #ddbe21);
    font-size: 1.3em;
}

tbody {
    background-color: #F2F2F2;
}

#right {
    border-radius: 1rem 0rem 0rem 0rem;
}

#left {
    border-radius: 0rem 1rem 0rem 0rem;
}

/* FORM */
.eventos>.form>form {
    text-align: justify;
    padding: 2rem;
    margin: 2rem;
}

.form>form>input {
    width: 100%;
    border: none;
    height: 3rem;
}

hr {
    border-top: 1px solid #ddbe21;
}

.form>form>input[type="radio"] {
    accent-color: var(--amarillo);
    height: 1.5rem;
}

.form>form>input[type="checkbox"] {
    accent-color: var(--amarillo);
    height: 1.5rem;
}

.form>form>h3 {
    padding-top: 2rem;
}

.form>form>.light {
    font-size: 1em;
    font-weight: bold;
}

.form>form>.bold {
    font-size: 1.2em;
    font-weight: bolder;
}

.form>form>#birth,
#date,
select {
    color: #004642;
    font-size: 1em;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 15%;
    border: 1px solid #006B65;
    border-radius: 1rem;
}

.form>form>select {
    width: 22%;
}

#male,
#female,
#preschool,
#first,
#second,
#third,
#fourth,
#fifth,
#forward,
#defense,
#midfield,
#goalkeeper {
    width: 6%;
}

.form>form>.submit {
    background-image: linear-gradient(to right, #f7d943, #F3D129, #ddbe21);
    border: none;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px #A8B1B8;
    font-size: 1em;
    font-weight: bold;
    color: #004642;
}



/* maps */
.maps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 69vw;
}

.maps>div {
    border-radius: 1rem;
    border: 2px solid #006B65;
    margin: 1rem;
}

iframe {
    border-radius: 1rem;
}

.maps>h4 {
    width: 100%;
}

/* FOOTER */

footer {
    display: flex;
    background-image: linear-gradient(to bottom, #2b2b2c, #080808);
    color: #F2F2F2;
    min-height: 4vh;
    align-items: center;
    justify-content: center;
}

.logo img {
    max-height: 16vh;
}

.logo {
    padding: 0.5rem;
    display: inline-block;
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

@media screen and (max-width:1441px) {

    .titulo,
    nav>a,
    main,
    .eventos>#titulo3,
    .eventos h4,
    thead {
        font-size: 1em;
    }

    .eventos>#titulo3 {
        font-size: 1.3em;
        padding-bottom: 0rem;
    }

    .eventos>#titulo3>h5,
    .eventos>#titulo3>h6 {
        padding: 0rem;
        margin: 0rem;
    }

    .eventos>.info,
    .form>form>.light,
    .form>form>.light,
    .form>form>#birth,
    #date,
    select {
        font-size: 0.8em;
    }

    main {
        line-height: 1.5rem;
    }

    .eventos>.info {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .info>p {
        padding: 0.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .form>form>input {
        height: 1.5rem;
    }

    #male,
    #female,
    #preschool,
    #first,
    #second,
    #third,
    #fourth,
    #fifth,
    #forward,
    #defense,
    #midfield,
    #goalkeeper {
        width: 4%;
    }

    .form>form>input[type="radio"],
    .form>form>input[type="checkbox"] {
        height: 1rem;
    }

    .form>form>#birth,
    #date,
    select {
        font-size: 0.8em;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 20%;
        border: 1px solid #006B65;
        border-radius: 1rem;
    }

    .form>form>select {
        width: 30%;
    }

    .contimg img {
        max-width: 16vw;
        margin: 0rem;
        margin-bottom: 1rem;
    }

    .contimg {
        margin-left: 0rem;
        margin-right: 0rem;

    }
}

@media screen and (max-width:1025px) {
    .eventos>.form>form {
        padding: 1rem;
        margin: 1rem;
    }

    .titulo2 {
        min-width: 20vw;
    }

    .eventos {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .contimg img {
        border-radius: 1rem;
        box-shadow: 5px 5px 10px #A8B1B8;
        opacity: 0.5;
        min-width: 60vw;
        margin: 1rem;
    }

    .contimg {
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        min-width: 100vw;
    }

    .titulo2 {
        align-self: flex-start;
    }

    iframe {
        min-width: 50vw;
    }

    .form>form>#birth,
    #date {
        padding-left: 1rem;
        padding-right: 1rem;
        min-width: 25%;
    }

    .form>form>select {
        min-width: 35%;
    }
}

@media screen and (max-width:769px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    .logo img {
        max-height: 20vh;
    }

    .logo {
        padding: 0%;
        margin: 0%;
    }

    .titulo {
        width: 100vw;
        text-align: center;
        min-height: 20px;
        font-size: 0.7em;
    }

    h1 {
        color: #FFFFFF;
    }

    nav {
        min-height: 10%;

    }

    nav>a {
        text-decoration: none;
        color: #006B65;
        padding: 0.5rem;
        font-size: 1.5em;
        border-radius: 1rem 1rem 0rem 0rem;
        font-size: 1em;
    }

    .titulo2 {
        min-width: 30vw;
    }

    .eventos {
        min-width: 90vw;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

}

@media screen and (max-width:426px) {
    .eventos {
        font-size: 0.8em;
    }

    h1 {
        font-size: 0.9em;
        padding-top: 0.5rem;
    }

    .titulo2 {
        display: table;
        min-width: 70vw;
        min-height: 5vw;
        font-size: 0.7em;
    }

    .titulo2>.tag {
        padding: 1rem;
    }

    .logo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 3rem;
        padding-bottom: 4rem;

    }

    .logo img {
        max-height: 14vh;
    }

    .titulo {
        min-height: 30px;
        font-size: 0.9em;
    }

    header {
        display: inline-block;
        max-height: 50vh;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        bottom: 0rem;
        right: 0rem;
        margin: 0rem;
        padding: 0rem;
    }

    nav>a {
        text-decoration: none;
        color: #006B65;
        font-size: 0.80em;
        border-radius: 1rem 1rem 1rem 1rem;
        text-align: center;
        width: 150px;
    }

    footer {
        font-size: 0.7em;
    }

    .eventos {
        min-width: 98vw;
    }

    .eventos>.form>form {
        padding: 0.5rem;
        margin: 0.5rem;
    }

    .eventos p {
        padding: 0.5rem;
    }

    .cuerpo>.primerOl {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    #titulo3 {
        min-width: 50vw;
    }

    th,
    td {
        padding: 0.2rem;
        border-bottom: 1px solid #ddd;      
    }
    .eventos>.info {
        max-width: 100%;
    }
    .maps {
        max-width: 100%;
    }

}